[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CausalMixGPD"]
	path = CausalMixGPD
	url = https://github.com/arnabaich96/causalmixgpd
